html {
  box-sizing: border-box;
  overflow-x: hidden;
}
*, 
*::after,
*::before {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
}
a {
  display: inline-block;
  text-decoration: none;
}
li{
  display: inline-block;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  font-size: 16px;
  // line-height:;
  color: $grey;
  background-color: #f6f6f6;
}
.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content{
  flex: 1 0 auto;
  // overflow: hidden;
}
.footer{
  flex: 0 0 auto;
}
.container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 15px;
}
.default-btn{
  background-color: #ff690f;
  border-radius: 6px;
  padding: 20px;
  @include cat-bold;
  color: #fefefe;
  font-size: 18px;
  text-transform: uppercase;
}
.section-title{
  @include cat-black;
  color: $dark;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  text-align: center;
}
.item-title{
  @include cat-black;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.24px;
  color: $dark;
}
.item-suptitle{
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .14px;
}
.section-items{
  display: flex;
  justify-content: space-between;
}
